.card {
  display: flex;
  /*flex: 1;*/
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.header,
.body,
.footer {
  display: flex;
  padding: var(--spacing-sm);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: var(--spacing-sm);
  border-bottom: 1px solid var(--color-border);
}

.header > p {
  font-weight: 600;
}

.body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.card-toggle {
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  border-radius: var(--radius-small);
  padding: var(--spacing-xs);
}

.card-toggle:hover {
  background-color: var(--color-surface-variant);
}
