.library-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  max-width: 1024px; /* TODO: veranderen obv wat werkt voor design */
  margin-inline: auto; /* centreert kolom. Zou ook met flexbox kunnen, maar dit is sneller */
}

.library-card {
  display: flex;
  flex-direction: row;
  background-color: var(--color-surface-variant);
  box-shadow: var(--shadow-normal);
  border-radius: var(--radius-base);
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  will-change: transform;
  overflow: hidden;
}

/* zorgt dat card verspringt, maar content doet ook vreemd..*/
.library-card:hover {
  box-shadow: var(--shadow-subtle-wide);
}

.image-wrapper {
  flex: 1 1 200px;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 300px;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.copy > :first-child {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.copy > :last-child {
  color: var(--color-text-secondary);
}

.card-meta {
  display: flex;
  gap: var(--spacing-lg);
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
}

.card-meta span {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

.card-meta strong {
  padding: var(--spacing-sm);
  background-color: var(--color-surface);
  border-radius: var(--radius-small);
}

.action-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
}

@media (max-width: 900px) {
  .library-container {
    height: auto;
  }

  .action-wrapper {
    flex-wrap: wrap;
    gap: var(--spacing-sm);
  }
}
