.main-content-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-subtle);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-md);
}

.title {
  font-size: var(--font-size-large);
  text-transform: capitalize;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
