.main-content-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  align-items: stretch;
  padding: var(--custom-padding, var(--spacing-md));
  z-index: 1;
  overflow: auto;
  box-shadow: var(--shadow-normal);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing-sm);
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-md);
}

.title {
  font-size: var(--font-size-large);
  text-transform: capitalize;
  margin-bottom: var(--spacing-sm);
}

.header-nav {
  display: flex;
  gap: var(--spacing-lg);
}

.header-nav > p {
  font-weight: 600;
}

.selected {
  color: var(--color-accent-primary-focus);
  /*font-weight: 500;*/
  text-transform: capitalize;
}

.deselected {
  color: var(--color-text-primary);
  text-transform: capitalize;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

@media (max-width: 900px) {
  .header {
    position: sticky;
    top: 0;
    display: block;
  }

  .header-nav {
    margin-bottom: var(--spacing-md);
  }

  .main {
    flex-direction: column;
  }
}
