/* LIST HEADER */

.exercises-list__header {
  display: grid;
  grid-template-columns: 1fr 120px 1fr 1fr 1fr 80px;
  grid-template-rows: 1fr;
  grid-gap: var(--spacing-sm);
  background-color: var(--color-surface-variant);
  padding: var(--spacing-md);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-radius: var(--radius-base) var(--radius-base) 0 0;
}

.exercises-list__header-item {
  display: flex;
  font-weight: 600;
}

.exercises-list__header-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.exercises-list__header-content > :last-child {
  cursor: pointer;
}

/* LIST CONTENT */

.exercises-list__content {
  display: block;
  border: 1px solid var(--color-border);
}

.exercises-list__content-item {
  display: grid;
  grid-template-columns: 1fr 120px 1fr 1fr 1fr 80px;
  grid-template-rows: 1fr;
  gap: var(--spacing-md);
  text-transform: capitalize;
  padding: var(--spacing-md);
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.exercises-list__content-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.exercises-list__content-item:last-child {
  border-bottom: none;
}

.th-content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}

/* zorgt dat svg icon niet kan krimpen */
.th-content svg {
  flex-shrink: 0;
}

.edit-exercise {
  cursor: pointer;
}

@media (max-width: 900px) {
  .exercises-list__header {
    display: none;
  }

  .exercises-list__content-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacing-sm);
    text-transform: capitalize;
    padding: var(--spacing-md);
    align-items: center;
  }

  .exercises-list__content {
    border-radius: var(--radius-base);
  }

  .exercises-list__content-item > div {
    display: flex;
    gap: var(--spacing-sm);
  }

  .exercises-list__content-item > div::before {
    flex: 0 1 100px;
    content: attr(data-label);
    display: block;
    color: var(--color-text-secondary);
  }

  .exercise-name {
    font-weight: 600;
  }
}
